.row-fluid#services
  .offset1
    %h2 PW Services
  .span10.offset1
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        - @service_groups.each do |group|
          %li.nav-header= group.name
          - group.services.each do |service|
            %li{class: ('active' if service == @service)}= link_to service.name, service
      .tab-content{style: "min-width: 200px"}
        .row-fluid
          %div{style: 'line-height: 24px; margin-top: 0px'}
            -if @service.present?
              %h4= @service.name
              %p= @service.description.html_safe
              - if @service.contacts.present?
                %strong
                  ="For more information contact "
                  - @service.contacts.each_with_index do |contact, i|
                    - if i > 0
                      = "or "
                    = link_to contact.name, contact
            -else
              %p.well
                Prothro, Wilhelmi & Co provides many client services; select a service to learn more.

