.row-fluid#services
  .offset1
    %h2 PW Services
  .span10.offset1
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        - @service_groups.each do |group|
          %li.nav-header= group.name
          - group.services.each do |service|
            %li{class: ('active' if service == @service)}= link_to service.name, service
      .tab-content{style: "min-width: 200px"}
        .row-fluid
          %div{style: 'line-height: 24px; margin-top: 0px'}
            -if @service.present?
              %h4= @service.name
              = render "services/#{@service.service_group.name.parameterize('_')}/#{@service.name.parameterize('_')}"
            -else
              %p.well
                Prothro, Wilhelmi & Co provides many client services; select a service to learn more.

