.row-fluid#services
  %ul.breadcrumb{style: "font-size: 14px"}
    %li
      = link_to "PW Services", services_path
      %span.divider /
    %li.active
      %strong= @service.service_group.name
  .span11
    %h4= @service.name
    = render "services/#{@service.service_group.name.parameterize('_')}/#{@service.name.parameterize('_')}"