.row-fluid
  %ul.breadcrumb{style: "font-size: 14px"}
    %li
      = link_to "All Staff", employees_path
      %span.divider /
    %li.active
      %strong= @employee.name
  .span12
    .row-fluid
      .span3.text-center{style: "margin-bottom: 25px"}
        %img{src: asset_path(@employee.image_url), style: "margin-bottom: 15px"}
        %em
          %p= mail_to @employee.email, "Email #{@employee.first_name}"
      .span8
        = @employee.bio.try :html_safe