%h4.text-center IRS Tax Deadlines Postponed for Texas Residents
%p{style: "margin-top:35px"}
  The IRS automatically postponed the federal filing and payment deadline to
  %strong June 15, 2021
  for Texas residents.
%p
  #{link_to("IR-2021-43", "https://www.irs.gov/newsroom/victims-of-texas-winter-storms-get-deadline-extensions-and-other-tax-relief", target: :blank)},
  released on February 22, 2021, outlines the tax relief provisions for
  #{link_to "taxpayers affected by disaster situations", "https://www.irs.gov/newsroom/tax-relief-in-disaster-situations"}
  due to the winter storms in Texas.
%p
  This includes individuals and businesses that would normally be due between March 15th, April 15th and May 15th.
%p
  Please call our office at #{phone_number_link("903.534.8811")} or email us at #{mail_to 'info@pw-tx.com', 'info@pw-tx.com', subject: "Message for PW from website"} if you have any questions.
%p{style: "margin-top:35px"}
  %h4= link_to "Latest COVID Update - PW CARES", coronavirus_path, {style: "color:#eeeeee;"}