- slides ||= []
#myCarousel.carousel.slide
  .carousel-inner
    = link_to about_path, class: 'item partners active' do
      .title.partners-title
        Partners
      .image
        = image_tag('slideshow/partners_300x376.jpg')
      .names-container
        .names
          .row-fluid
            .span6
              Walter Wilhelmi, CPA
            .span6
              Kristi Moore, CPA
          -# .row-fluid
          -#   .span12
          -#     Kristi Moore, CPA

    - employees.each do |e|
      = link_to employee_path(e), class: 'item employee' do
        = image_tag(e.image_url)
        .name
          = e.name
