.row-fluid#home
  .span4
    .panel.clearfix
      .row-fluid
        .span6.text-center
          = render 'employees/avatar', employee: Employee.find_by_name('Kristi A. Moore')
        .span6
          %p
            PW is pleased to announce that Kristi Moore, CPA has
            = link_to('become a partner', asset_path('Kristi Moore | Newspaper Announcement.pdf'), target: '_blank')
            in the firm!

    .panel.clearfix{style: "min-height: 156px"}
      .row-fluid
        .span6.text-center
          = render 'employees/avatar', employee: Employee.find_by_name('Thomas G. Prothro')
        .span6
          %p Congratulations to Tom Prothro – Governor Rick Perry has named Thomas G. Prothro of Tyler as chair of the Texas State Board of Public Accountancy!
  .span4
    .hero-unit.clearfix.text-center
      = render partial: 'carousel', locals: {images: @images}

  .span4
    .panel.clearfix
      .row-fluid
        .span6.text-center
          = render 'employees/avatar', employee: Employee.find_by_name('Kristi A. Moore')
        .span6
          %p
            PW is pleased to announce that Kristi Moore, CPA has
            = link_to('become a partner', asset_path('Kristi Moore | Newspaper Announcement.pdf'), target: '_blank')
            in the firm!
    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          .video-container
            %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'http://www.youtube.com/embed/TTWmBAZWj9g?&modestbranding=0&controls=1&rel=0&showinfo=0'}
      %p.text-center{style: "margin-top: 5px"} "Celebrating 20 years!"

.row-fluid#home
  .span12
    .dedication
      %em
        .preable This website has been dedicated in loving memory of
        .name Ashley Prothro Trant
        .title Original Designer
        .date February 18, 1982 – March 27, 2013
