.row-fluid#home
  .span4
    .panel.clearfix
      .row-fluid
        .span12
          / = render "pages/home/careers"
          = render "pages/home/hiring"

    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          = render "pages/home/facebook"
  .span4
    .hero-unit.clearfix.text-center
      = render partial: 'carousel', locals: {slides: @slides, employees: @employees}
    .bbb
      = link_to(image_tag("bbb_black.png"), 'http://www.bbb.org/east-texas/business-reviews/accountants/prothro-wilhelmi-and-co-pllc-in-tyler-tx-3001265', target: '_blank')

  .span4
    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          = render "pages/home/cycle_show"
    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          .video-container
            %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'http://www.youtube.com/embed/TTWmBAZWj9g?&modestbranding=0&controls=1&rel=0&showinfo=0'}

.row-fluid#home
  .span12
    .dedication
      %em
        .preable This website has been dedicated in loving memory of
        .name Ashley Prothro Trant
        .title Original Designer
        .date February 18, 1982 – March 27, 2013
