.row-fluid#home

  .row-fluid
    .span4
      .panel.clearfix
        .row-fluid
          .span10.offset1
            / = render "pages/home/careers"
            / = render "pages/home/hiring"
            / = render "pages/home/lobby_closed"
            = render "pages/home/tax_schedule"

    .span4
      .hero-unit.clearfix.text-center
        = render partial: 'carousel', locals: {slides: @slides, employees: @employees}
      .panel.clearfix
        .row-fluid
          .span10.offset1
            / = render "pages/home/careers"
            = render "pages/home/hiring"
      .panel.clearfix
        .row-fluid
          .span10.offset1.text-center{style: "padding-top:15px; padding-bottom:15px"}
            .video-container
              - video_id = "IvugIKzrzMk"
              %iframe.ad-video{allowfullscreen: true, frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", src: "https://www.youtube.com/embed/#{video_id}?modestbranding=1&autohide=1&controls=1&rel=0&showinfo=0"}

    .span4
      .panel.clearfix
        .row-fluid
          .span10.offset1.text-center{style: "padding-top:15px"}
            /= render "pages/home/cycle_show"
            = render "pages/home/bee"

      .panel.clearfix
        .row-fluid
          .span10.offset1.text-center{style: "padding-top:15px"}
            = render "pages/home/facebook"

.row-fluid#home
  .span12
    .dedication
      %em
        .preable This website has been dedicated in loving memory of
        .name Ashley Prothro Trant
        .title Original Designer
        .date February 18, 1982 – March 27, 2013
