.row-fluid#home
  .span4
    .panel.clearfix
      .row-fluid.text-center
        %p
          Since 1992, Prothro, Wilhelmi & Co. has been committed to providing clients with quality services that continue to adapt to meet individual and business needs. We believe that by possessing ethical and "eternal values", a business has "infinite potential" to succeed.

    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          %p
            = link_to album_path(album = Album.find_by_slug('involvement-around-town')), title: 'See more photos of PW involvement around town' do
              - image_tag album.cover_asset
          %p.text-center
            Visit
            = link_to('our Facebook page', 'https://www.facebook.com/ProthroWilhelmi', target: '_blank')
            to stay current with PW news and community involvement!
  .span4
    .hero-unit.clearfix.text-center
      = render partial: 'carousel', locals: {slides: @slides, employees: @employees}
    .bbb
      = link_to(image_tag("bbb_black.png"), 'http://www.bbb.org/east-texas/business-reviews/accountants/prothro-wilhelmi-and-co-pllc-in-tyler-tx-3001265', target: '_blank')

  .span4
    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          %p
            = link_to community_path, title: 'We love our community!' do
              - image_tag 'car_show/1.jpg'
          %p.text-center
            Check out our
            = link_to('Community Spotlight page', community_path)
            to learn more about our involvement with the 2017 East Texas Auto and Cycle Show!
    .panel.clearfix
      .row-fluid
        .span10.offset1.text-center
          .video-container
            %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'http://www.youtube.com/embed/TTWmBAZWj9g?&modestbranding=0&controls=1&rel=0&showinfo=0'}
      %p.text-center{style: "margin-top: 5px"} "Celebrating 20 years!"

.row-fluid#home
  .span12
    .dedication
      %em
        .preable This website has been dedicated in loving memory of
        .name Ashley Prothro Trant
        .title Original Designer
        .date February 18, 1982 – March 27, 2013
