.row-fluid
  .span10.offset1
    %h2 News at PW

= render 'facebook_timeline'

.row-fluid
  .span10.offset1
    .row-fluid
      .span10.offset1
        %h3 Recent Highlights
        .row-fluid
          .span10.offset1
            %ul
              %li.news
                %span= link_to 'AJ Evans', Employee.find_by_name('AJ Evans')
                %span was selected to participate in the Leadership Tyler Core Program, Class 33.
              %li.news
                %span= link_to 'Ben Nafe', Employee.find_by_name('Ben Nafe')
                %span has received his CPA certification.
              %li.news
                %span= link_to 'John Mitchell', Employee.find_by_name('John Mitchell')
                %span has received his CPA certification.
              %li.news
                %span= link_to 'Erin McNeill', Employee.find_by_name('Erin McNeill')
                %span has been promoted to Senior Associate.

        %h3 Advertising
        .row-fluid
          .span10.offset1
            .row-fluid
              .span8.offset2.text-center
                .video-container
                  %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'https://www.youtube.com/embed/TTWmBAZWj9g?&modestbranding=0&controls=1&rel=0&showinfo=0'}
                %p.text-center{style: "margin-top: 5px"} CBS Commercial
            .row-fluid
              .span8.offset2.text-center
                .video-container
                  %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'https://www.youtube.com/embed/K-OcTc7rH8c?&modestbranding=0&controls=1&rel=0&showinfo=0'}
                %p.text-center{style: "margin-top: 5px"} CBS Commercial