.row-fluid#portal
  .span10.offset1
    %h2 PW Client Portal
    .hero-unit{style: 'padding: 30px'}
      .row-fluid
        .text-center
          %h4 PW sends and receives files securely through SafeSend
      .row-fluid
        .text-center
          = link_to 'Login to SafeSend', 'https://portal.safesend.com/Login.aspx', class: 'btn btn-large', target: '_blank'
          %span{style: 'margin: 0 10 20 10'} or
          = link_to 'Send a File', 'https://portal.safesend.com/96144835/DropOff.aspx', class: 'btn btn-large', target: '_blank'
    .row-fluid
      %p
        * If you do not have a SafeSend account or need assistance with SafeSend, please
        %span
          = link_to('e-mail our team', "mailto:#{Employee.find_by_name('Taylor Wilson').email}?subject=Client Portal") + '.'
      %p
        * The Client Portal uses Adobe Acrobat Reader, to get a free copy of Acrobat Reader,
        %span= link_to 'click here', 'http://get.adobe.com/reader/' + '.'