.row#footer
  .about.text-center
    %small
      %span &copy;
      %span= Time.zone.now.year
      %span Prothro, Wilhelmi, and Company., PLLC
      .info
        %span CPA
      .info
        %span 6855 Oak Hill Blvd. Tyler, Texas 75703
      .info
        %span 8am-5pm M-F
      .info
        = phone_number_link("903.534.8811")
      .info.social
        = link_to(image_tag("bbb.png"), 'http://www.bbb.org/east-texas/business-reviews/accountants/prothro-wilhelmi-and-co-pllc-in-tyler-tx-3001265', target: '_blank')
      .info.social
        = link_to(image_tag("fb_logo_50.png"), 'https://www.facebook.com/ProthroWilhelmi', target: '_blank')
      .info.social
        = link_to(image_tag("linked_in_logo_48.png"), 'https://www.linkedin.com/company/prothro-wilhelmi-&-company-pllc', target: '_blank')

