%header
  .header
    =link_to root_path do
      .brand-container.row-fluid
        .mobile.hidden-desktop
          .force3
            .badge-container
              = image_tag '30_years_logo.png'
          .logo.force6
            = image_tag 'logo_without_mottos.png'
          .force3
            .badge-container
              = image_tag '30_years_logo.png'
        .visible-desktop
          .span3
            .badge-container
              = image_tag '30_years_logo.png'
          .logo.span6
            = image_tag 'logo_with_motto.svg'
          .span3
            .badge-container
              = image_tag '30_years_logo.png'
          -# .office.span5
          -#   .office-container
          -#     .left-blur
          -#     = image_tag("office_crop_747x350.jpg")
          -#     .right-blur

  .navbar
    .navbar-inner.pull-center
      .container
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse", style: 'margin-top: 2px;'}
          %span{style: 'color: #333; text-shadow: 0px 1px 0px #AAA;'} Menu
        .nav-collapse.collapse.links
          %ul.nav
            %li= link_to 'About', about_path
            %li.divider-vertical
            %li= link_to 'Services', services_path
            %li.divider-vertical
            %li= link_to 'Staff', employees_path
            %li.divider-vertical
            %li= link_to 'News', news_path
            %li.divider-vertical
            %li= link_to 'Community', community_path
            %li.divider-vertical
            %li= link_to 'Photos', albums_path
            %li.divider-vertical
            %li= link_to 'Contact', contact_path
            %li.divider-vertical
            %li= link_to 'Careers', careers_path
            %li.divider-vertical
            %li= link_to 'Client Portal', portal_path
            %li.divider-vertical
            %li= link_to 'Pay Online', pay_path
