%header
  .header
    .brand-container.row-fluid
      = link_to root_path do
        .logo.span5
          = svg 'logo_with_motto'
        .anniversary.span2
          = image_tag("25_year_logo_red.png")
        .office.span5
          = image_tag("office_crop_747x350.jpg")

  .navbar
    .navbar-inner.pull-center
      .container
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse", style: 'margin-top: 2px;'}
          %span{style: 'color: #333; text-shadow: 0px 1px 0px #AAA;'} Menu
        .nav-collapse.collapse.links
          %ul.nav
            %li= link_to 'Home', root_path
            %li.divider-vertical
            %li= link_to 'About', about_path
            %li.divider-vertical
            %li= link_to 'Services', services_path
            %li.divider-vertical
            %li= link_to 'Staff', employees_path
            %li.divider-vertical
            %li= link_to 'News', news_path
            %li.divider-vertical
            %li= link_to 'Community', community_path
            %li.divider-vertical
            %li= link_to 'Photos', albums_path
            %li.divider-vertical
            %li= link_to 'Contact', contact_path
            %li.divider-vertical
            %li= link_to 'Careers', careers_path
            %li.divider-vertical
            %li= link_to 'Client Portal', portal_path
